html {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  background-color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}


img {
  width: 100%;
  display: block;
}

body {
  background-color: #f2f2f2;
  padding: .75rem;
  flex-grow: 1;
  margin: 0;
}

.quest img {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.dino img {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.laser img {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.dragon img {
  display: block;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

.group {
  display: flex;
}

h2 {
  text-align: center;
  font-size: 2rem;
  padding: .75rem;
  margin: 0;
}

.quest {
  background-color: #e2e2e2;
  padding: 1.5rem;
  padding-top: .875rem;
  padding-bottom: .875rem;
  margin: 0;
  width: 25%;
}

.dino {
  background-color: #ccc;
  padding: 1.5rem;
  padding-top: .875rem;
  padding-bottom: .875rem;
  margin: 0;
  width: 25%;
}

.dragon {
  background-color: #aaa;
  padding: 1.5rem;
  padding-top: .875rem;
  padding-bottom: .875rem;
  margin: 0;
  width: 25%;
}

.laser {
  background-color: #999;
  padding: 1.5rem;
  padding-bottom: .875rem;
  padding-top: .875rem;
  margin: 0;
  width: 25%;
}
